/* Cart Container */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 50px;
  background-color: #f1f3f6;
}

@media (min-width: 768px) {
  .cart-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* Cart Items */
.cart-items {
  flex: 2;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: transform 0.2s;
}

.cart-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 5px;
}

.cart-details {
  flex: 1;
}

.cart-details h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
}

.cart-details h4 {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.cart-details p {
  font-size: 15px;
  margin: 10px 0;
}

/* Quantity Controls */
.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.quantity-controls button {
  width: 35px;
  height: 35px;
  border: 1px solid grey;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.quantity-controls button:hover {
  background: #f4f6f8;
}

.quantity-controls span {
  font-size: 15px;
  font-weight: bold;
  margin: 0 1px;
  min-width: 35px;
  text-align: center;
}

/* Remove Button */
.remove-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(250, 64, 64, 0.904);
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: 0.3s;
}

.remove-button:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: red;

}

/* Price Details */
.price-details-card {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.price-details-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  font-size: 15px;
}

.total-amount {
  display: flex;
  margin: 8px 0px;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

/* Place Order Button */
.place-order {
  width: 100%;
  background: #432efdd7;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 6px;
  font-weight: bold;
}

.place-order:hover {
  background: #d14300;
}

/* Empty Cart */
.cart-empty {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

@media only screen and (max-width: 800px) {
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cart-img{
    margin-bottom: 20px;
  }

  .remove-button {
    margin-top: 0px;
  }

  .cart-details p{
    margin: 8px 0px;
  }
}